html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.div {
  border: 1 px solid;
  height: 10vh;
  width: 10vw;
  display: flex;
  justify-content: space-evenly;
}

.h1 {
  font-size: 20px;
  color: red;
}
